<!-- Footer-->
{{>footer}}
<!-- -->
<!-- -->

<!-- Your posts-->
<div id="posts-container">
{{#each userPosts}}
<div class="mt-5">
  <form class="col-11 col-md-8 col-lg-8 mx-auto  bg-success bg-opacity-25 p-3 rounded-3" id="updateFormupdate{{@index}}" post-id="{{id}}">
  <h4>Posted by {{../session.user_name}} on the {{post_dateCreated}}</h4>
    <div class="d-flex justify-content-between">
    <input class=" blogPostTitleInput p-2 rounded-2 mb-2 border-0 " data-key="update{{@index}}" type="text" name="post_title" value="{{post_title}}" disabled>
    <div>
      <button  id="updateButton{{@index}}" key="update{{@index}}"  type="button">Update</button>
      <button class="d-none updateSendButton{{@index}}" key-send="update{{@index}}" type="button">Done</button>
      <button class=" updateSendButton{{@index}}" key-delete="{{id}}" type="button">Delete</button>
    </div>
    </div>
    <textarea name="post_text"   data-key="update{{@index}}" class="form-control newPostDescription bg-white border-0 overflow-hidden" id="newPostDescription" rows="auto" disabled>{{post_text}}</textarea>

  </form>
</div>
{{/each}}
</div>
<!-- Create Post-->
<di id="createPost__container" class="createPost__container--hidden">
  <form action="/api/post/" method="post"
    class="d-flex col-11 col-md-8 col-lg-7 mx-auto createPost__card--position bg-success p-3 rounded-4 flex-column justify-content-center border">
    <div class="mb-3">
      <label for="newPostTitle" class="form-label">Title</label>
      <input type="text" name="post_title" class="form-control" id="newPostTitle" placeholder="title" required />
    </div>
    <div class="mb-3">
      <label for="newPostDescription" class="form-label">Description</label>
      <textarea name="description" class="form-control" id="newPostDescription" rows="3" required></textarea>
    </div>
    <div class="d-flex">
      <button type="submit" class="btn btn-warning  mt-4 col-4 mx-auto" onformchange="">
        Submit
      </button>
      <button type="button" class="btn btn-warning  mt-4 col-4 mx-auto" onclick="closeCreatePostContainer()">
        Cancel
      </button>
    </div>
  </form>
</di>

<div class="card col-4 mx-auto mb-5 fixed-bottom"><button type="button" class="btn btn-success"
    onclick="showCreatePostContainer()">Create Post</button>
</div>