{{>footer}}

<div
  class="col-11 col-md-8 col-lg-8 mx-auto d-flex flex-column justify-content-center my-3"
>
    <h5>{{session.user_name}} on the {{singlePost.post_dateCreated}}</h5>

  <div class="card col-12">
    <div class="card-body bg-success bg-opacity-25">
      {{singlePost.post_title}}
    </div>
    <div class="card-body">{{singlePost.post_text}}</div>

  </div>
</div>


<!--Comments-->
{{#each commentsByPost}}
<div
  class="col-11 col-md-8 col-lg-8 mx-auto d-flex justify-content-center my-3"
>
  <div class="card col-12">
    <div class="card-body bg-success bg-opacity-25 d-flex">
      <p class="m-0">{{comment_text}}</p>
      <a onclick="deleteComment({{id}})" class="btn btn-success col-2 ms-auto text-decoration-none text-white">Delete</a>
    </div>
      <h5 class="ms-auto me-5">{{comment_owner}} on the {{comment_dateCreated}}</h5>
  </div>
</div>
{{/each}}

{{#if session.logged_in}}
<form
id="commentForm"
  class="card col-8 mx-auto p-2 bg-warning bg-opacity-50"
>
  <textarea id="" cols="30" rows="3" name="comment_text" required ></textarea>
  <button class="col-3 ms-auto mt-1 btn btn-warning" type="submit" >Post</button>
</form>
{{/if}}
